name: run-tests

on: [push, pull_request]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                php: [8.5, 8.4, 8.3, 8.2]
                laravel: [12.*, 11.*]
                include:
                    -   laravel: 12.*
                        testbench: ^10.0
                    -   laravel: 11.*
                        testbench: ^9.0

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.os }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                    coverage: none

            -   name: Install dependencies
                run: |
                    composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "nesbot/carbon:>=2.72.6" --no-interaction --no-update
                    composer update --prefer-stable --prefer-dist --no-interaction

            -   name: Execute tests
                run: vendor/bin/pest
